body{
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
}

.light-mode {
  color: white;
}

.dark-mode {
  color: black;
}

.light-bg-mode {
  background-color: rgb(255, 238, 238);
}

.dark-bg-mode {
  background-color: rgb(38, 23, 23);
}



.main-container{
  height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.displayClock {
  font-size: 9vw;
  letter-spacing: 5px;
  text-shadow: 0px 0px 20px rgba(249, 132, 132, 100);
}

.theme {
  padding: 26px 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(249, 132, 132, 100);
  transition: all 0.3s;
  font-weight: 500;
}

.theme:active{
  transform:translateY(5px);
  box-shadow: none;
}